@model int
<div class="d-flex justify-content-between">
    <button type="submit" class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 mr-2 trans-04 pointer" asp-route-id="@Model">
        Edit
    </button>
    <a asp-action="Index" class="flex-c-m stext-101 cl2 size-121 bg8 bor1 hov-btn3 p-lr-15 ml-2 trans-04 pointer">
        Back To List
    </a>
</div>