@page
@model RegisterModel
@using Coza.Utility
@{
    ViewData["Title"] = "Register";
}

<br />
<div class="row ml-5 mr-5">
    <div class="col-9">
        <h4 class="mtext-112 text-uppercase cl2 p-b-30 m-l-100">
            @ViewData["Title"]
        </h4>
    </div>
</div>

<section class="bg0">
    <div class="container">
        <div class="flex-w flex-tr">
            <div class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">
                <form method="post" asp-route-returnUrl="@Model.ReturnUrl">
                    <h4 class="mtext-105 cl2 txt-center p-b-30">
                        Create a new account.
                    </h4>
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <label asp-for="Input.Name" class="stext-101"></label>
                    <div class="bor8 m-b-20 how-pos4-parent">
                        <input asp-for="Input.Name" class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text">
                        <i class="how-pos4 pointer-none zmdi zmdi-account"></i>
                    </div>
                    <span asp-validation-for="Input.Name" class="text-danger"></span>

                    <label asp-for="Input.StreetAddress" class="stext-101"></label>
                    <div class="bor8 m-b-20 how-pos4-parent">
                        <input asp-for="Input.StreetAddress" class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text">
                        <i class="how-pos4 pointer-none zmdi zmdi-home"></i>
                    </div>
                    <span asp-validation-for="Input.StreetAddress" class="text-danger"></span>

                    <label asp-for="Input.City" class="stext-101"></label>
                    <div class="bor8 m-b-20 how-pos4-parent">
                        <input asp-for="Input.City" class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text">
                        <i class="how-pos4 pointer-none zmdi zmdi-city"></i>
                    </div>
                    <span asp-validation-for="Input.City" class="text-danger"></span>

                    <label asp-for="Input.State" class="stext-101"></label>
                    <div class="bor8 m-b-20 how-pos4-parent">
                        <input asp-for="Input.State" class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text">
                        <i class="how-pos4 pointer-none zmdi zmdi-play-for-work"></i>
                    </div>
                    <span asp-validation-for="Input.State" class="text-danger"></span>

                    <label asp-for="Input.PhoneNumber" class="stext-101"></label>
                    <div class="bor8 m-b-20 how-pos4-parent">
                        <input asp-for="Input.PhoneNumber" class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="number">
                        <i class="how-pos4 pointer-none zmdi zmdi-phone"></i>
                    </div>
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>

                    <label asp-for="Input.Email" class="stext-101"></label>
                    <div class="bor8 m-b-20 how-pos4-parent">
                        <input asp-for="Input.Email" class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text">
                        <i class="how-pos4 pointer-none zmdi zmdi-account-box-mail"></i>
                    </div>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>

                    <label asp-for="Input.Password" class="stext-101"></label>
                    <div class="bor8 m-b-20 how-pos4-parent">
                        <input asp-for="Input.Password" class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="password">
                        <i class="how-pos4 pointer-none zmdi zmdi-shield-security"></i>
                    </div>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>

                    <label asp-for="Input.ConfirmPassword" class="stext-101"></label>
                    <div class="bor8 m-b-20 how-pos4-parent">
                        <input asp-for="Input.ConfirmPassword" class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="password">
                        <i class="how-pos4 pointer-none zmdi zmdi-shield-check"></i>
                    </div>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    @if (User.IsInRole(SD.Role_Admin))
                    {
                        <div class="bor8 m-b-20 mt-5 how-pos4-parent">
                            @Html.DropDownListFor(m => m.Input.Role, Model.Input.RoleList, "- Select User Role -", new { @class = "stext-111 cl2 plh3 size-116 p-l-62 p-r-30 form-control" })
                            <i class="how-pos4 pointer-none zmdi zmdi-collection-item"></i>
                        </div>
                    }

                    <div class="d-flex justify-content-between">
                        <button type="submit" class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 mr-2 trans-04 pointer">
                            Register
                        </button>
                    </div>

                </form>
            </div>

            <div class="size-210 bor10 flex-w flex-col-m p-lr-93 p-tb-30 p-lr-15-lg w-full-md">
                <img src="~/images/edit.jpg" alt="Display Image" class="img-fluid" />
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
